.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 19vh;
  background-color: rgb(67, 79, 83);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}